VITE_ADMIN_URL=http://localhost:5174
VITE_CLASSES_API_URL=http://localhost:3000/api/public/horarios/cn10
VITE_NOTICIAS_API_URL=http://localhost:3000/api/public/noticias/cn10
# legado temporario (remover depois):
# VITE_EDITAIS_API_URL=http://localhost:3000/api/public/noticias/cn10
